
    <%- include('./partials/header') %>
    <style>
    body{
        background-color: black;
    }
    #navbar{
           margin-bottom: 1%;
        }
    </style>
    
    
    

    <% users.forEach (user => { %>
        <% if (user.posts.length){ %>
            <div id="post-container">
                <div id="user-information">
                    <div id="profile-pic" style="background-image: url('<%= user.avatar%>');" ></div>
                    <a href="/users/<%= user._id%>"> <h2><%= user.name%></h2></a>
                </div>


            <% user.posts.forEach ( (post,postIdx) => {%>
                <div id="post-holder">
                    <div id="post-pic"><img id="image" src="<%= post.image%>" alt=""></div>
                    <div id="caption-holder">

                        <h1>Brand</h1>
                        <h4><%= post.brand%></h4>
                        <h1>Model</h1>
                        <h4><%= post.model%></h4>
                        <h1>Year</h1>
                        <h4><%= post.year %></h4>
                        <h1> Horse Power </h1>
                        <h4><%= post.horsePower%></h4>
                        <h4> <%= post.caption%></h4>

                    </div>
                </div>
                <div  id="comments-holder">
                        <% if (post.comments.length){%>
                            <%post.comments.forEach ((comment, index) => {%>
                                <% if (comment.visitorId == loggedInUser._id){%>
                                    <div class="logged-in-user-comment" style="width: 100%; margin-left: 0;">
                                            <div class="commenter-information">
                                                <div class="icon-holder" style="background-image: url('<%= loggedInUser.avatar %>');"></div></a>
                                                <a href="/users/profile/<%= loggedInUser._id%>"> <%= loggedInUser.name%></a>
                                                <span style="color: red; font-size: 20px;"> : </span>
                                            </div>
                                        <p style="border: 2px solid red; width: 85%;"> <%= comment.comment%></p>
                                        <form class="comment-delete-form" action="/posts/comment/<%= user._id%>?_method=DELETE&postId=<%= post._id%>&commentIdx=<%= index %>" method="POST">
                                            <input type="submit" value="✘" style=" color: red;">
                                        </form>
                
                                    </div>
                                <%} 
                
                                else {%>
                
                                    <div class="logged-in-user-comment" style="width: 100%; margin-left: 0;">
                                        <div class="commenter-information" >
                                        <div class="icon-holder" style="background-image: url('<%= comment.visitorAvatar %>');"></div></a>
                                        <a href="/users/<%= comment.visitorId%>"> <%= comment.visitorName%> </a>
                                        <span style="color: red; font-size: 20px;"> : </span>
                                    </div>
                                    <p style="border: 2px solid red; width: 88%;"> <%= comment.comment%></p>
                                        <!-- <p> <%= comment.comment%></p> -->
                                    </div>
                
                                <% }%>
                
                            <%})%>
                        <%};%>
                    </div>

                <div id="new-comment-holder">
                        <form id="new-comment-form" action="/posts/comment/<%= user._id%>?postId=<%= post._id %>" method="POST">
                            <input style=" margin-left: .5%;" required id="comment-input" type="text" placeholder="comment ..." name="comment">
                            <button type="submit"> ✉ </button>
                        </form>
            <% }) ;%>    


           
            <!-- <h1><%= user.email %></h1>
            <h1> GOOGLE ID = <%= user.googleId %></h1>
            <h1> MONGOOSE ID = <%= user._id %></h1> -->

        </div>
        <%};%>
    <%});%>

<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->


<%- include('./partials/footer') %>