<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <title>Document</title>
</head>
<body>
    <div id="navbar">
        <a href="/logout"><div id="add-photo" class="icon-holder2" style="background-image: url('../images/emergency-exit.png');"></div> </a> | 
        <p>Welcome <%=loggedInUser.name%></p> | 
        <a href="/users/profile/<%= loggedInUser._id %>"><div id="add-photo" class="icon-holder" style="background-image: url('../images/profile-user.png');"></div></a> |
        <a href="/users/profile/<%= loggedInUser._id %>"> <div class="icon-holder" style="background-image: url('<%= loggedInUser.avatar %>');"></div></a> |
        <a href="/posts/new"><div id="add-photo" class="icon-holder" style="background-image: url('../images/plus.png');"></div></a> |
        <form action="/search" method="GET">
            <input  type="search" name="userName" placeholder="search by username..."> 
            <button id="add-photo" class="icon-holder" style="background-image: url('../images/magnifying-glass.png'); " type="submit" ></button>
        
        </form>
    </div>
    

    <% users.forEach (user => { %>
        <% if (user.posts.length){ %>
            <div id="post-container">
                <div id="user-information">
                    <div id="profile-pic" style="background-image: url('<%= user.avatar%>');" ></div>
                    <a href="/users/<%= user._id%>"> <h2><%= user.name%></h2></a>
                </div>


            <% user.posts.forEach ( post => {%>
                <div id="post-holder">
                    <div id="post" style="background-image: url('<%= post.image %>');"></div>
                    <div id="caption-holder">

                        <h1>Brand</h1>
                        <h4><%= post.brand%></h4>
                        <h1>Model</h1>
                        <h4><%= post.model%></h4>
                        <h1>Year</h1>
                        <h4><%= post.year %></h4>
                        <h1> Horse Power </h1>
                        <h4><%= post.horsePower%></h4>
                        <h4> <%= post.caption%></h4>

                    </div>
                </div>
                <div id="comments-holder">
                    <% if (post.comments.length){%>
                        <%post.comments.forEach ((comment, index) => {%>
                            <% if (comment.visitorId == loggedInUser._id){%>
                                <div id="logged-in-user-comment">

                                    <div id="icon-holder" style="background-image: url('<%= loggedInUser.avatar %>');"></div></a>
                                    <a href="/users/profile/<%= loggedInUser._id%>"> <%= loggedInUser.name%></a>
                                    <p> <%= comment.comment%></p>
                                    <form action="/posts/comment/<%= user._id%>?_method=DELETE&postId=<%= post._id%>&commentIdx=<%= index %>" method="POST">
                                        <input type="submit" value="✘" style=" color: red;">
                                    </form>

                                </div>
                            <%} 

                            else {%>

                                <div id="other-users-comment">
                                    <div id="icon-holder" style="background-image: url('<%= comment.visitorAvatar %>');"></div></a>
                                    <a href="/users/<%= comment.visitorId%>"> <%= comment.visitorName%> </a>
                                    <p> <%= comment.comment%></p>
                                </div>

                            <% }%>

                        <%})%>
                    <%};%>
                </div>

                <div id="new-comment-holder">
                        <form action="/posts/comment/<%= user._id%>?postId=<%= post._id %>" method="POST">
                            <input type="text" placeholder="comment" name="comment">
                            <input type="submit" value="ADD THE COMMENT">  
                        </form>
                    </div>
            <% }) ;%>    


           
            <!-- <h1><%= user.email %></h1>
            <h1> GOOGLE ID = <%= user.googleId %></h1>
            <h1> MONGOOSE ID = <%= user._id %></h1> -->

        </div>
        <%};%>
    <%});%>
</body>
</html>


<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->