<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <title>Document</title>
</head>
<body>
    <a href="/logout"> SIGN OUT</a> | <p>Welcome <%=loggedInUser.name%></p> | <a href="/profile/<%= loggedInUser._id %>"> YOUR PROFILE</a> |
       <a href="/profile/<%= loggedInUser._id %>"> <div id="icon-holder" style="background-image: url('<%= loggedInUser.avatar %>');"></div></a>



    <% users.forEach (user => { %>
        <div id="post-container">
            <div id="user-information">
                <div id="profile-pic" style="background-image: url('<%= user.avatar%>');" ></div>
                <a href="/users/<%= user._id%>"> <h2><%= user.name%></h2></a>
            </div>
            <div id="post-holder">
                <div id="post" style="background-image: url('<%= user.avatar %>');"></div>
            </div>


        <h1><%= user.email %></h1>
        <h1> GOOGLE ID = <%= user.googleId %></h1>
        <h1> MONGOOSE ID = <%= user._id %></h1>





        </div>
    <%});%>
</body>
</html>