
    <%- include('./partials/header') %>
    <style>
    body{
        background-color: black;
    }
    #navbar{
           margin-bottom: 1%;
        }
        #like{
            border-radius: 50%;
            width: 100%; 
            height: 100%; 
            font-size: 200%;
            outline: none;
            
        }
        #like:hover{
            cursor: pointer;
            
        }
        
    </style>
    
        <% if (posts.length){ %>
            <% posts.forEach ( (post,postIdx) => {%>
            <div id="post-container">
                <div id="user-information">
                    <div id="profile-pic" style="background-image: url('<%= post.userAvatar%>');" ></div>
                    <a style="color: white; text-decoration: none;" href="/users/<%= post.userId%>"> <h2><%= post.username%></h2></a>
                </div>
                <div id="post-holder">
                    <div id="post-pic"><img id="image" src="<%= post.image%>" alt=""></div>
                    <div>

                        <button id="like" style="background-color:<%= post.likes.includes(loggedInUser._id) ? 'red' : 'none' %>;" >
                            
                            ❤</button>
                        
                        <p style="color: white;">  <%= post.likes.length%> likes</p>


                    </div>
                    <div id="caption-holder">
                            <div id="car-information"><h2 style="font-size: 35px;font-family: 'Arvo', serif;"> <span><%= post.brand%> </span><span> <%= post.model%> </span><span> <%= post.year%><h2></span>
                        <h2 style="font-family: 'Arvo', serif;font-size: 30px;"><%= post.horsePower %> hp  <span> <%= post.engine %></h2></div>
                        <h2 style="font-family: 'Arvo', serif;"><%= post.caption%></h2>    
                    </div>
                </div>
                <div  id="comments-holder">
                        <% if (post.comments.length){%>
                            <%post.comments.forEach ((comment, index) => {%>
                                <% if (comment.visitorId == loggedInUser._id){%>
                                    <div class="logged-in-user-comment" style="width: 100%; margin-left: 0; border: 1px solid rgb(0, 0, 0);">
                                            <div class="commenter-information">
                                                <div class="icon-holder" style="background-image: url('<%= loggedInUser.avatar %>');"></div></a>
                                                <a style="color: white; text-decoration: none;" href="/users/profile/<%= loggedInUser._id%>"> <%= loggedInUser.name%></a>
                                                <span style="color: red; font-size: 20px;"> : </span>
                                            </div>
                                        <p style=" width: 85%; margin-left: 1%;"> <%= comment.comment%></p>
                                        <form class="comment-delete-form" action="/posts/comment/<%= post._id%>?_method=DELETE&commentIdx=<%= index %>" method="POST">
                                            <input id="remove" type="submit" value="✘" >
                                        </form>
                
                                    </div>
                                <%} 
                
                                else {%>
                
                                    <div class="logged-in-user-comment" style="width: 100%; margin-left: 0; border: 1px solid rgb(0, 0, 0);">
                                        <div class="commenter-information" >
                                        <div class="icon-holder" style="background-image: url('<%= comment.visitorAvatar %>');"></div></a>
                                        <a style="color: white; text-decoration: none;" href="/users/<%= comment.visitorId%>"> <%= comment.visitorName%> </a>
                                        <span style="color: red; font-size: 20px;"> : </span>
                                    </div>
                                    <p style=" width: 88%; margin-left: 1%;"> <%= comment.comment%></p>
                                    </div>
                
                                <% }%>
                
                            <%})%>
                        <%};%>
                    </div>

                <div id="new-comment-holder">
                        <form id="new-comment-form" action="/posts/comment/<%= post._id%>?postId=<%= post._id %>" method="POST">
                            <input style=" margin-left: .5%;" required id="comment-input" type="text" placeholder="comment ..." name="comment">
                            <button type="submit"> ✉ </button>
                        </form>
            <% }) ;%>    


           
           

        </div>
        <%};%>
    

<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->


<%- include('./partials/footer') %>