<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>

</head>
<body>
    <div id="new-post-container" style="margin: 10% 10%; width: 80%; border: 3px solid teal;">
   <form action="/posts/upload" method="POST" id="creatin-post-form" enctype="multipart/form-data">
<!-- ///////////////////// IMAGE FILE ///////////////////////////////// -->
    <div>
        <input type="file"   name="image" id="file-loader"  > 
    </div>
<!-- ///////////////////// BRAND ////////////////////////////////////// -->
    <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Select The Brand </label>
            </div>
    <select name="brand" class="custom-select" id="inputGroupSelect01" >
        <% cars.forEach (car =>{%>
        
            <option value="<%= car.name%>"> <%= car.name %></option>

        <%})%>
    </select>
    </div>
<!-- /////////////// ////// model //////////////////////////////////// -->
<input type="text" name="model" placeholder="enter model ">
    <br>
<!-- ///////////////// YEAR ////////////////////////// -->

        <select id="year-dropdown" name="year" >
            <% for (i=new Date().getFullYear() ; i >= 1960 ; i--){%>
                <option  value="<%= i%>"> <%= i%></option>
            <%};%>
        </select>  
         <!--///////////// Engine //////////////////  -->
         <input type="text" name="engine" placeholder="Engine Type">
         <!-- /////////////// HP //////////////////// -->
        <input type="number" name="horsePower" placeholder="horse power">
        <!-- //////////////// Caption /////////////////// -->
        <input type="text" name="caption" placeholder="caption">
        <input type="submit" value="submit the pic">

    </form>
    <img name="logo" src="" alt="">
</div> 
</body>
<% var carsList = cars ; %>
<script>
    $("[name='model'] , [name='engine'] , [name='horsePower'] , [name='caption'] , [name='year']  " ).on("click" , function(evt) {
     let chosenBrandList = $("[name='brand']");
     let carLogo = $("[name='logo']").attr('src');
     chosenBrand = chosenBrandList[0].value;
     let carsArray = <%- JSON.stringify(carsList) %>;
     carsArray.forEach(car => {
        if(car.name === chosenBrand){
            if(carLogo != car.image) {
                $("[name='logo']").attr('src' , car.image)
            }
        }
        
     });
    })
 </script>
</html>