<%- include('../partials/header') %>
<style>
    body {
        background: black;
    }
</style>
<div id="profile-bio-section">
    <div id="profile-picture" style="background-image: url(<%=loggedInUser.avatar%>);"> </div>
    <div style="color: white;">
        <h3>User Name : </h3>
        <h3>Email :</h3>

    </div>
    <div id="user-username">
        
        <h3><%= loggedInUser.name%></h3>
        
        <h3><%= loggedInUser.email%></h3>
    </div>

</div>
<%if (user.posts.length){%>
<% user.posts.forEach ( (post, postIdx) => {%>
<div id="post-container">
    <div id="post-holder" style="margin-top: 1%; width: 80%; margin-left: 10%;">
        <div id="post-pic"><img id="image" src="<%= post.image%>" alt=""></div>
        <div id="caption-holder">
            <div id="car-information">
                <h3><%= post.brand %></h3>
                <h3><%= post.model %></h3>
                <h3><%= post.year%></h3> 
                <h3><%=post.engine %></h3>
                <h3><%= post.horsePower%> hp</h3>
            </div>
            <div id="car-caption">
                <h3><%= post.caption %></h3>
            </div>
            <form action="/posts/edit/<%= postIdx%>" method="GET">
                <input style="width: 20%;font-size: 100%;" type="submit" value="✎"></form>
        </div>
    </div>
    <div id="comments-holder">
        <% if (post.comments.length){%>
        <%post.comments.forEach ((comment, index) => {%>
        <% if (comment.visitorId == loggedInUser._id){%>
        <div class="logged-in-user-comment">
            <div class="commenter-information">
                <div class="icon-holder" style="background-image: url('<%= loggedInUser.avatar %>');"></div></a>
                <a style="color: white; text-decoration: none;" href="/users/profile/<%= loggedInUser._id%>"> <%= loggedInUser.name%></a>
                <span style="color: red; font-size: 20px;"> : </span>
            </div>
            <p style="margin-left: .5%; width: 85%;"> <%= comment.comment%></p>
            <form class="comment-delete-form"
                action="/posts/comment/<%= user._id%>?_method=DELETE&postId=<%= post._id%>&commentIdx=<%= index %>"
                method="POST">
                <input type="submit" value="✘" style=" color: red;">
            </form>

        </div>
        <%} 

                else {%>

        <div class="logged-in-user-comment">
            <div class="commenter-information">
                <div class="icon-holder" style="background-image: url('<%= comment.visitorAvatar %>');"></div></a>
                <a style="color: white; text-decoration: none;" href="/users/<%= comment.visitorId%>"> <%= comment.visitorName%> </a>
                <span style="color: red; font-size: 20px;"> : </span>
            </div>
            <p style="border: 2px solid red; width: 88%;"> <%= comment.comment%></p>
            <!-- <p> <%= comment.comment%></p> -->
        </div>

        <% }%>

        <%})%>
        <%};%>
    </div>

    <div id="new-comment-holder" style="width: 80%; margin-left:10% ; margin-top: 1%;">
        <form id="new-comment-form" action="/posts/comment/<%= user._id%>?postId=<%= post._id %>" method="POST">
            <input required id="comment-input" type="text" placeholder="comment ..." name="comment">
            <button type="submit"> ✉ </button>
        </form>
    </div>
</div>
<% }) ;%>
<%} else {%>
<h1 style="margin: 20% 50%; color: teal;">NO POSTS YET</h1>
<%}%>
   
<%- include('../partials/footer') %>