<%- include('../partials/header') %>
<style>
    body {
        background: black;
    }
    #edit-pen{
        font-size: 15px;
    }
    #edit-pen:hover{
        cursor: pointer;
        background: rgb(0, 0, 0);
        color: rgb(79, 224, 35);
        font-size: 20px;
    }
    .like{
            transition: 1s;
            border-radius: 50%;
            width: 100%; 
            height: 100%; 
            font-size: 200%;
            outline: none;
            box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.616);
            text-shadow: 1px 1px 1px 5px red;
            border: 2px dotted rgba(0, 0, 0, 0.616);
            
        }
        .like:hover, .liked:hover{
            cursor: pointer; 
        }
        .liked{
            transition: 1s;
            border-radius: 50%;
            width: 100%; 
            height: 100%; 
            font-size: 200%;
            outline: none;
            background-color: black;
            color: red;
            border: 2px dotted rgba(202, 66, 66, 0.767) ;
            box-shadow: 0 0 0 4px rgba(36, 19, 19, 0.767);
        }
</style>
<!-- //////// CODE ///////////////////// -->
<div id="profile-bio-section">
    <div id="profile-picture" style="background-image: url(<%=loggedInUser.avatar%>);"> </div>
    <div style="color: white;">
        <h3>User Name : </h3>
        <h3>Email :</h3>

    </div>
    <div id="user-username">
        
        <h3><%= loggedInUser.name%></h3>
        
        <h3><%= loggedInUser.email%></h3>
    </div>

</div>

user

<%if (posts.length){%>
<% posts.forEach ( (post, postIdx) => {%>
<div id="post-container">
    <div id="post-holder" style="margin-top: 1%; width: 80%; margin-left: 10%;">
        <div id="post-pic"><img id="image" src="<%= post.image%>" alt=""></div>
        <div>

            <button name="<%= post._id%>" id="<%= loggedInUser._id%>" class="<%= !post.likes.includes(loggedInUser._id) ? 'like' : 'liked'%>"  >
                
                ❤</button>
            
            <p style="color: white;">  <span id="<%= post._id%>"><%= post.likes.length%></span>  likes</p>


        </div>
        <div id="caption-holder">
                <div id="car-information"><h2 style="font-size: 35px;font-family: 'Arvo', serif;"> <span><%= post.brand%> </span><span> <%= post.model%> </span><span> <%= post.year%><h2></span>
                    <h2 style="font-family: 'Arvo', serif;font-size: 30px;"><%= post.horsePower %> hp  <span> <%= post.engine %></h2></div>
            <h2 style="color: white; font-size: 37px;"><%= post.caption%></h2>    
            <form action="/posts/edit/<%= post._id%>" method="GET">
                   <input id="edit-pen" style="width: 20%;" type="submit" value="✎"></form>
        </div>
    </div>
    <div id="comments-holder">
        <% if (post.comments.length){%>
        <%post.comments.forEach ((comment, index) => {%>
        <% if (comment.visitorId == loggedInUser._id){%>
        <div class="logged-in-user-comment" style="border: 1px solid rgb(0, 0, 0);">
            <div class="commenter-information">
                <div class="icon-holder" style="background-image: url('<%= loggedInUser.avatar %>');"></div></a>
                <a style="color: white; text-decoration: none;" href="/users/profile/<%= loggedInUser._id%>"> <%= loggedInUser.name%></a>
                <span style="color: red; font-size: 20px;"> : </span>
            </div>
            <p style="margin-left: .5%; width: 85%;"> <%= comment.comment%></p>
            <form class="comment-delete-form"
                action="/posts/comment/<%= post._id%>?_method=DELETE&commentIdx=<%= index %>"
                method="POST">
                <input id="remove" type="submit" value="✘">
            </form>

        </div>
        <%} 

                else {%>

        <div class="logged-in-user-comment" style="border: 1px solid rgb(0, 0, 0);">
            <div class="commenter-information">
                <div class="icon-holder" style="background-image: url('<%= comment.visitorAvatar %>');"></div></a>
                <a style="color: white; text-decoration: none;" href="/users/<%= comment.visitorId%>"> <%= comment.visitorName%> </a>
                <span style="color: red; font-size: 20px;"> : </span>
            </div>
            <p style="margin-left: .5%; width: 88%;"> <%= comment.comment%></p>
        </div>

        <% }%>

        <%})%>
        <%};%>
    </div>

    <div id="new-comment-holder" style="width: 80%; margin-left:10% ; margin-top: 1%;">
        <form id="new-comment-form" action="/posts/comment/<%= post._id%>?postId=<%= post._id %>" method="POST">
            <input required id="comment-input" type="text" placeholder="comment ..." name="comment">
            <button type="submit"> ✉ </button>
        </form>
    </div>
</div>
<% }) ;%>
<%} else {%>
<h1 style="margin: 20% 50%; color: teal;">NO POSTS YET</h1>
<%}%>
   
<script>
    $( '.like, .liked').on('click',async function(evt){
        console.log(evt.target)
        var like = document.getElementsByName(`${evt.target.name}`)
        var likesNumber = document.getElementById(`${evt.target.name}`)
        $(like).toggleClass('like')
        $(like).toggleClass('liked')
        if(evt.target.className === 'liked') likesNumber.innerHTML = `${parseInt(likesNumber.innerHTML)+1}`
        if(evt.target.className === 'like') likesNumber.innerHTML = `${parseInt(likesNumber.innerHTML)-1}`
        fetch(`/likes/${evt.target.id}/${evt.target.name}`)
        .then(res => {
           return res.json()  
        })
        .then(data => {
            console.log(data)
        })

    })
</script>
<%- include('../partials/footer') %>